#map {
    width: 100%;
    height: 100%;
    min-height: 500px;
}
.container{
    margin-top:60px;
}
.editor-zone {
    min-width: 700px;
    min-height: 800px;
    -webkit-box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.1);
}

.editor-zone .main-image {
    position: relative;
    width: 100%;
    height: 200px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 55%;
    background-image: url('/resources/img/essay-default-background.jpg');
    opacity: 0.75;
}

.editor-zone .main-image h3 {
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.editor-zone .content-title {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
    border: none;
    background: none;
    padding: 0.25rem;
    border-bottom: 1px solid #818182;
    margin-bottom: 1.75rem;
}

.tool-zone {
    position: relative;
    min-width: 250px;
}

.tool-zone .tool-box {
    padding:0.25rem;
    position: fixed;
    width: 300px;
    min-width: 250px;
    -webkit-box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.1);
}

.tool-box .tool-box-tmp {
    width: 100%;
}

.tool-box-tmp ul {
    list-style: none;
    padding-inline-start: 0;
}

#tmp-content-group .tmp-content-item {
    cursor:pointer;
    display: block;
    border-bottom: 1px solid #fafafa;
    padding: 0.25rem;
}

.tmp-content-item:hover{
  background-color:#fafafa;
}

.tmp-content-item img {
    display: block;
    float: left;
}

.tmp-content-item .tmp-content-box {
    padding: 0.25rem;
    position: relative;
}

.tmp-content-box .tmp-content-title {
    padding: 0 0.3rem;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.tmp-content-box .location {
    margin-left: 0.15rem;
}

.tmp-content-box .date {
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
}

.tool-box .tool-box-save{
  text-align: center;
  margin-bottom: 1.25rem;
}

.tool-box-save button{
  width:45%;
}

.tool-box .tool-box-btn{
  padding:0.75rem;
  width:100%;
  background-color:#fff;
  display:grid;
  grid-template-columns: auto auto;
  grid-row: auto;
}

.tool-box-btn button{
  margin:0.25rem;
  padding:0.5rem;
  display:flex;
  align-items:center;
  justify-content:center;
}

.tool-box .tool-box-hash{
  margin-bottom: 1rem;
  text-align: center;
}

.hide {
    display: none;
}

.modal-dialog {
    min-width: 800px;
    padding: 0;
}

#placesList {
    list-style: none;
}

.list-group-item {
    padding: 0;
}

.place-addr {
    font-size: 0.75rem;
}

.map-container {
    width: 750px;
    height: 350px;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

.pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
    z-index: 9999;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#target {
    width: 345px;
}

#tmp-content-list-group {
    list-style: none;
}
