.container-wrap {
    margin-top: 80px;
    width: 100%;
    padding-top: 3rem;
}

.input-wrap {
    position: relative;
}

.input-wrap label {
    position: absolute;
    font-size: 1.1rem;
    top: -1.2rem;
    left: 1.25rem;
}

.input-wrap input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}

.write-form {
    border: 1px solid gray;
    margin: 0 auto;
    padding: 1rem;
    width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.write-form .input-wrap {
    background-color: darkgrey;
    border-radius: 1rem;
    width: 80%;
    margin: 1.5rem 0;
    box-sizing: border-box;
    padding: 0.5rem 2rem;
}

.write-form .input-wrap input {
    outline: none;
}

.write-form .input-wrap .image-area {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.write-form .input-wrap .image-area img {
    max-height: 100%;
    width: auto;
}

.write-form .input-wrap textarea {
    width: 100%;
    height: 180px;
    resize: none;
    background: none;
    border: none;
    outline: none;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
}

.write-form .input-wrap .date {
    padding: 0.75rem;
    color: #ffffff;
}

.write-form .input-wrap .date .from::after {
    content: ' 부터';
}

.write-form .input-wrap .date .to::after {
    content: ' 까지';
}

.write-form .button-wrap {
    display: flex;
}

.write-form .button-wrap .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.button-wrap .btn.btn-tsave {
    border: 2px solid #00c1da;
    background-color: #ffffff;
    color: #00c1da;
}

.btn.btn-tsave:hover {
    background-color: #00c1da;
    color: #ffffff;
}

.button-wrap .btn.btn-tdanger {
    background-color: #ffffff;
    border: 2px solid #ff5100;
    color: #ff5100;
}

.button-wrap .btn.btn-tdanger:hover {
    background-color: #ff5100;
    color: #ffffff;
}

.content-wrap {
    width: 650px;
    margin: 0 auto;
}

.content-group li {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.content-group .request-item {
    border: 2px solid gray;
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
}

.request-item .button-wrap {
    margin-top: 0.5rem;
    text-align: right;
}

.request-item .button-wrap button {
    outline: none;
    padding: 0.3rem 0.5rem;
    background-color: #ffffff;
    border: 2px solid #353535;
    color: #353535;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.request-item .button-wrap button:hover {
    color: #ffffff;
    background-color: #353535;
}

.request-item .button-wrap span {
    /*display: block;*/
    padding: 0.3rem 0.5rem;
    color: #ffffff;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.request-item .button-wrap span.span-agree {
    background-color: #00c1da;
    border: 2px solid #00c1da;
}

.request-item .button-wrap span.span-disagree {
    background-color: #fa5252;
    border: 2px solid #fa5252;
}