.btn-wrap {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-wrap button {
    background-color: #d8d8d8;
    border: 2px solid #979797;
    padding: 1.25rem;
    border-radius: 1.25rem;
    font-size: 1.75rem;
}

.btn-wrap button:hover {
    color: #ffffff;
}

.container-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-wrap .sec-story {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1.25rem;
    row-gap: 1.25rem;
    width: 80%;
    max-width: 1200px;
}

.story {
    background-color: #ffffff;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 3px 3px 20px 2px rgba(201, 201, 201, 1);
    min-width: 260px;
}

.story .story-img-wrap {
    overflow: hidden;
    width: 100%;
    height: 12rem;
}

.story .story-img-wrap .story-img {
    width: 100%;
    min-height: 100%;
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*width: auto;*/
    /*height: auto;*/
}

.story .story-content-wrap {
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
}

.story .story-content-wrap .story-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    min-height: 4rem;
}

.story .story-content-wrap .story-title a{
    color:#353535;
    text-decoration: none;
}

.story .story-content-wrap .story-title a:hover{
    color:#00c1da;
}

.story .story-content-wrap .story-info {
    padding: 0.75rem;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story .story-user-wrap {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
}

.story .story-user-wrap .image-wrap {
    width: 20%;
    min-width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    border: 2px solid gray;
    overflow: hidden;
}

.story .story-user-wrap .image-wrap img {
    width: 100%;
    max-height: 100%;
}

.story .story-user-wrap .user-info {
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.story .story-user-wrap .user-info h6 {
    font-weight: 600;
}

.story .story-user-wrap .user-info p {
    color: #c8c8c8;
}

/* 고정 */

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-icon::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 0.25rem;
    margin-left: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.likes::before {
    margin-left: 0;
    background-image: url('/resources/img/like.svg');
}

.views::before {
    background-image: url('/resources/img/view.svg');
}

.comments::before {
    background-image: url('/resources/img/comment.svg');
}

.select-wrap {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.select-wrap .select-inner-wrap {
    display: flex;
    border: 3px solid gray;
    padding: 1rem;
}

.select-wrap .select-inner-wrap:hover {
    border: 3px solid #00c1da;
}

.select-wrap .select-inner-wrap button {
    display: block;
    padding: 4rem;
    border: none;
    outline: none;
    background-size: contain;
    background-repeat: no-repeat;
}

#btn-route {
    background-image: url('/resources/img/route-btn.png');
}

#btn-essay {
    background-image: url('/resources/img/essay-btn.png');
}

.select-wrap .select-inner-wrap .expression {
    padding: 1rem;
}

.select-wrap .select-inner-wrap .expression h4 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.select-wrap .select-inner-wrap .expression p {
    line-height: 1.4rem;
}

.location-wrap {
}

.location-wrap h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}

.location-wrap .btn-wrap {
}

.location-wrap .btn-wrap button {
    margin: 1rem;
    border: 3px solid gray;
    padding: 5rem;
    outline: none;
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 90%;
    background-position: center;
}

#btn-korea {
    background-image: url('/resources/img/korea-btn.png');
}

#btn-global {
    background-image: url('/resources/img/global-btn.png');
}

.location-wrap .btn-wrap button:hover {
    border: 3px solid #00c1da;
}

/*
.views {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .comments{
  displa
} */
