<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alarmSQL">

	<insert id="addAlarm" parameterType="alarm">
		insert into alarm(ano,header,dataSeq,is_read,alarmDate,sendUserId,sendUserFid,requestUserId,requestUserFid,content)
		values(seq_ano.nextval,#{header},#{dataSeq},0,sysdate,#{sendUserId},#{sendUserFid},#{requestUserId},#{requestUserFid},#{content})
	</insert>
	
	<select id="getAlarmList" parameterType="string" resultType="alarm" >
		select * from alarm where requestUserFid = #{requestFid} and is_read = 0
	</select>
	
	<update id="alarmIsReadChange" parameterType="int">
		update alarm set is_read = 1 where ano = #{ano}
	</update>
	<select id="getAlarmDataSeq" parameterType="int" resultType="int">
		select dataSeq from alarm where ano = #{ano}
	</select>
	
	<delete id="delete" parameterType="java.util.Map">
		DELETE FROM alarm WHERE header = #{header} AND dataseq = #{dataseq}
	</delete>

	<delete id="alarmDelete">
		delete alarm where dataseq=#{dataseq}
	</delete>
</mapper>