<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alarmSQL">

	<insert id="addAlarm" parameterType="alarm">
		insert into alarm(ano,header,dataSeq,is_read,alarmDate,sendUserId,sendUserFid,requestUserId,requestUserFid,content)
		values(seq_ano.nextval,#{header},#{dataSeq},0,sysdate,#{sendUserId},#{sendUserFid},#{requestUserId},#{requestUserFid},#{content})
	</insert>
	
	<select id="getAlarmList" parameterType="string" resultType="alarm" >
		select * from alarm where requestUserFid = #{requestFid}
	</select>
</mapper>