<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commentSQL">
    <select id="readOne" parameterType="int" resultType="comment">
        SELECT * FROM CMT WHERE CNO = #{cno}
    </select>

    <select id="readAll" parameterType="int" resultType="comment">
        SELECT CNO, BNO, CONTENT, LIKES, UNLIKES, SEQ, DATE_WRITE, PCNO FROM CMT WHERE BNO = #{bno} ORDER BY PCNO, CNO
    </select>

   <insert id="create" parameterType="comment">
       <selectKey keyProperty="cno" resultType="int" order="BEFORE">
           SELECT cno.nextval FROM dual
       </selectKey>
        INSERT INTO CMT(CNO, BNO, content, LIKES, UNLIKES, SEQ, DATE_WRITE , pcno)
        VALUES(#{cno}, #{bno}, #{content}, 0, 0, #{seq}, sysdate, #{cno})
   </insert>

    <insert id="createRe" parameterType="comment">
        <selectKey keyProperty="cno" resultType="int" order="BEFORE">
            SELECT cno.nextval FROM dual
        </selectKey>
        INSERT INTO CMT(CNO, BNO, CONTENT, LIKES, UNLIKES, SEQ, DATE_WRITE, PCNO)
        VALUES(#{cno}, #{bno}, #{content}, 0, 0, #{seq}, sysdate, #{pcno})
    </insert>

    <update id="update" parameterType="comment">
        UPDATE CMT SET CONTENT = #{content}, LIKES = #{likes}, UNLIKES = #{unlikes}, DATE_WRITE = sysdate
        WHERE CNO = #{cno}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM CMT WHERE CNO = #{cno}
    </delete>

    <delete id="deleteAll" parameterType="Integer">
        DELETE FROM CMT WHERE BNO = #{bno}
    </delete>

</mapper>