<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inquirySQL">

    <select id="readOne" resultType="inquiry" parameterType="Integer">
        SELECT * FROM INQUIRY WHERE IQNO = #{iqno}
    </select>

    <select id="readAll" resultType="inquiry">
        SELECT * FROM INQUIRY
    </select>

    <insert id="create" parameterType="inquiry">
        <selectKey resultType="Integer" keyProperty="iqno" order="BEFORE">
            SELECT iqno.nextval FROM dual
        </selectKey>
        INSERT INTO INQUIRY(BNO, IQNO, SEQ, TITLE, CONTENT, IS_PRIVATE, DATE_WRITE)
        VALUES (bno.nextval, #{iqno}, #{seq}, #{title}, #{content}, #{isPrivate}, sysdate)
    </insert>

    <update id="update" parameterType="inquiry">
        UPDATE INQUIRY SET
                TITLE = #{title},
                CONTENT = #{content},
                IS_PRIVATE = #{isPrivate}
        WHERE IQNO = #{iqno}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM INQUIRY WHERE IQNO = #{iqno}
    </delete>

</mapper>