<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="routeSQL">

	<insert id="setRoute" parameterType="route">
		INSERT INTO route (bno, rno, nickname, title, fixed, isDomestic)
		VALUES (seq_bno.NEXTVAL, seq_rno.NEXTVAL, #{nickname}, #{title}, 0, #{isDomestic})
	</insert>
	
	<insert id="saveRoute" parameterType="route">
	begin
		UPDATE route SET content=#{content}, hashtag=#{hashtag}, datewrite=SYSDATE, dateupdate=SYSDATE, fixed=1 where rno = #{rno} and nickname = #{nickname};
		UPDATE route_content SET fixed=1 WHERE rno=#{rno};
	end;
	</insert>
	
	<select id="getRoute" parameterType="Integer" resultType="route" >
		SELECT * FROM route WHERE rno = #{rno}
	</select>
	
	<select id="getCurrRnoSeq" resultType="Integer">
		SELECT SEQ_RNO.CURRVAL FROM DUAL
	</select>
	
	<insert id="saveCourse" parameterType="routeContent">
		INSERT INTO route_content (crno, rno, content, lat, lng, location, dateStart, dateEnd, score, fixed)
		VALUES (seq_crno.NEXTVAL, #{rno}, #{content}, #{lat}, #{lng}, #{location}, TO_DATE('${dateStart}','YYYY-MM-DD'), TO_DATE('${dateEnd}','YYYY-MM-DD'), #{score}, 0)
	</insert>

	<select id="getCurrCrnoSeq" resultType="Integer">
		SELECT SEQ_CRNO.CURRVAL FROM DUAL
	</select>
	
	<update id="updateCourse" parameterType="routeContent">
		UPDATE route_content SET (rno, content, lat, lng, location, dateStart, dateEnd, score, fixed)
		VALUES (#{rno}, #{content}, #{lat}, #{lng}, #{location}, TO_DATE('${dateStart}','YYYY-MM-DD'), TO_DATE('${dateEnd}','YYYY-MM-DD'), #{score}, #{fixed})
	</update>
	
	<insert id="saveRouteImage" parameterType="routeImage">
		INSERT INTO route_image VALUES (seq_ino.NEXTVAL, #{crno}, #{img}, #{imgOrder})
	</insert>
	
</mapper>