<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="storySQL">

	<select id="getList" parameterType="java.util.Map" resultType="story" >
		SELECT * FROM(
		    SELECT ROWNUM RN, B.* FROM(
		        SELECT bno, rno, nickname, title, likes, views, hashtag, dateWrite, dateUpdate, cmt, fixed, isDomestic 
		        FROM essay
		        UNION
		        SELECT bno, rno, nickname, title, likes, views, hashtag, dateWrite, dateUpdate, cmt, fixed, isDomestic 
		        FROM route
		        ORDER BY dateUpdate DESC
		    ) B WHERE ROWNUM &lt; #{endNum}
		) WHERE RN &gt; #{startNum}
	</select>
	
	<select id="getRoute" parameterType="String" resultType="route">
		SELECT * FROM route WHERE BNO = #{bno}
	</select>
	<select id="getRouteContentStory" parameterType="int" resultType="routeContent">
		SELECT * FROM route_content WHERE RNO = #{rno}
	</select>
	<select id="getRouteImageStory" parameterType="int" resultType="routeImage">
		SELECT img FROM route_image WHERE CRNO = #{CRNO}
	</select>
	
</mapper>