<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="storySQL">
	
	<select id="getList" parameterType="storySearchFilter" resultType="story" >
		SELECT C.*, D.cmt FROM(
		    SELECT * FROM(
		        SELECT ROWNUM RN, A.*, B.nickname, B.imgprofile FROM(
		            SELECT bno, rno, seq, title, likes, views, hashtag, date_write, date_update, file_name, image_name, fixed, is_domestic 
		            FROM essay
		            WHERE fixed = 1
		            UNION
		            SELECT bno, rno, seq, title, likes, views, hashtag, date_write, date_update, '' AS file_name, image_name, fixed, is_domestic 
		            FROM route
		            WHERE fixed = 1
		            ORDER BY rno DESC
		        ) A JOIN users B on A.seq = B.seq WHERE (nickname like '%${keyword}%' or title like '%${keyword}%' or hashtag like '%${keyword}%')
		    ) WHERE RN &gt; (#{start}-1) AND RN &lt; (#{end}+1)
		) C LEFT OUTER JOIN (SELECT COUNT(*) CMT, BNO FROM CMT GROUP BY BNO) D on C.bno = D.bno ORDER BY RNO DESC
	</select>
	
</mapper>