body {
    background-color: #353535;
}

.container-wrap {
    margin: 180px auto 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.container-wrap .editor-zone {
    background-color: #ffffff;
    width: 55%;
    min-width: 680px;
    height: 600px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin-right: 20px;
}

.input-wrap label {
    position: absolute;
    font-size: 1.1rem;
    top: -1.2rem;
    left: 1.25rem;
}

.input-wrap input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}

.input-wrap input[type='date'] {
    text-align: center;
}

.input-wrap textarea {
    resize: none;
}

.editor-second {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.editor-second .info-wrap h2 {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

.editor-second .info-wrap .date {
    text-align: right;
}

.editor-second .info-wrap .date .from::after {
    content: '부터';
}

.editor-second .info-wrap .date .to::after {
    content: '까지';
}

.editor-second .input-wrap {
    background-color: lightgray;
    padding: 0.5rem 2rem;
    width: 70%;
    border-radius: 1rem;
}

.editor-second .input-wrap.place {
    display: flex;
    justify-content: center;
}

.editor-second .input-wrap.place button {
    width: 20%;
    border: 2px solid #797979;
    color: #797979;
    background-color: #ffffff;
    font-size: 1rem;
}

.editor-second .input-wrap.textarea {
    margin-top: 2rem;
    grid-row: 4/6;
    background-color: #ffffff;
    height: 90%;
}

.editor-second .input-wrap.textarea textarea {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    padding: 0.5rem;
    font-size: 1rem;
}

.button-wrap {
    display: flex;
}

.button-wrap .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.button-wrap .btn.btn-travel {
    border: 2px solid #00c1da;
    background-color: #ffffff;
    color: #00c1da;
}

.btn.btn-travel:hover {
    background-color: #00c1da;
    color: #ffffff;
}

.button-wrap .btn.btn-tdanger {
    background-color: #ffffff;
    border: 2px solid #ff5100;
    color: #ff5100;
}

.button-wrap .btn.btn-tdanger:hover {
    background-color: #ff5100;
    color: #ffffff;
}

.btn.btn-tsave {
    background-color: #ffffff;
    border: 2px solid #2f8f03;
    color: #2f8f03;
}

.btn.btn-tsave:hover {
    color: #ffffff;
    background-color: #2f8f03;
}

.container-wrap .list-zone {
    width: 35%;
    min-width: 250px;
    max-width: 340px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.list-zone h3 {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    margin: 0.5rem;
}

.list-item {
    border: 1px solid gray;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.list-item.current{
    border:1px solid #00c1da;
}

.list-item .city {
    font-size: 1rem;
    font-weight: 400;
    color: #00c1da;
}

.list-item .city::before {
    content: '@';
}

.list-item .date {
    font-size: 0.8rem;
    margin: 0.2rem auto;
    color: #333333;
}

.list-item .date .from:after {
    content: '부터';
}

.list-item .date .to::after {
    content: '까지';
}

.list-item .detail {
    width: 100%;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.map-wrap {
    display: flex;
    height: 500px;
}

.map-wrap .search-area {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid gray;
    padding: 0.2rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
}

.map-wrap .search-area .input-wrap {
    display: flex;
}

.map-wrap .search-area .input-wrap input {
    outline: none;
    width: 80%;
    padding: 0.2rem;
    font-size: 1rem;
    border: 1px solid #353535;
    color: #000000;
}

.map-wrap .search-area .input-wrap button {
    width: 20%;
    background-color: #ffffff;
    border: 2px solid #00c1da;
    color: #00c1da;
    padding: 0.3rem 0;
    font-size: 0.8rem;
}

.map-wrap .search-area .input-wrap button:hover {
    background-color: #00c1da;
    color: #ffffff;
}

.map-wrap .search-area .result-wrap {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
}

.result-wrap .result-item {
    list-style: none;
    box-sizing: border-box;
    padding: 0.2rem;
}

.result {
    position: relative;
    border: 1px solid gray;
    font-size: 0.9rem;
    padding: 0.5rem;
    line-height: 1rem;
    cursor: pointer;
}

.result .place-addr {
    font-size: 0.7rem;
    color: #707070;
}

.result .btn-add-map {
    position: absolute;
    top: 0.15rem;
    right: 0.15rem;
    background-color: #ffffff;
    border: 2px solid #333333;
    border-radius: 0.5rem;
    color: #333333;
    font-size: 0.7rem;
}

.result:hover {
    color: #00c1da;
    font-weight: 500;
}

.page-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-group li {
    padding: 0.1rem;
    list-style: none;
}

.page-group li a {
    color: #5a5a5a;
    text-decoration: none;
}

.page-group li a:hover {
    color: #00c1da;
}

.page-group li a.on {
    color: #00c1da;
}

.map-wrap .map-area {
    width: 80%;
}

.map-wrap .map-area > div {
    width: 100%;
    height: 100%;
    border: 2px solid gray;
}

/* 구글 지도 검색결과 표출 하는 부분 */
.map-wrap-g {
    display: flex;
    height: 500px;
    position: relative;
}

.map-wrap-g #map {
    width: 100%;
}

.map-wrap-g .search-location {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1400;
    font-size: 1rem;
}

.pac-container {
    z-index: 1500;
}

/* 지도 모달 레이아웃 */
